<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="pure-g">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5">
      <form class="pure-form" action="." method="GET">
          <fieldset>
              <legend for="ua">Parse User-Agent with <a href="https://www.uaparser.org/" target="_blank">uaparser.org</a></legend>
              <input id="ua" type="text" name="ua" placeholder="User-Agent"
                     class="pure-input-3-4" value="{{ ua or current_ua }}">
              <button type="submit" class="pure-button pure-button-primary">Parse</button>
          </fieldset>
      </form>
      {% if parsed_encoded %}
      <p>Parsed String</p>
      <pre>{{ parsed_encoded }}</pre>
      {% endif %}
    </div>
    <div class="pure-u-1-5"></div>
</div>
